@model model.Framework.Subject

@{ ViewBag.Title = "Details";
                Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml"; }



<h2>Chi tiết môn thi</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.subject_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subject_name)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sữa", "Edit", new { id = Model.subject_id }, new { @class = "btn btn-secondary" }) |
    @Html.ActionLink("trở về", "Index", "Subject", new { @class = "btn btn-outline-secondary" })
</p>

